#Form {
  display: flex;
  margin: 10px;
  width: 95%;
  justify-content: space-between;
  margin-top: 20px;
  // flex-direction: column;
  // background-color: rgb(238, 230, 230);
  #formInput {
    width: 100%;
  }

}