#History{
  ul {
    padding: 10px;
    margin: 10px;
    width: 100%;
    li {
      display: flex;
      flex-direction: column;

      justify-content: center;
      list-style-type: none;
      background-color: rgb(247, 247, 247);
      padding: 5px;
      margin: 10px;
      ul {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  .historyDetails {
    color: grey;
    font-size: 12px;
    margin: 0;
    
    a { 
      color: white;
      text-decoration: none;
      background-color: rgb(26, 26, 99);
      padding: 3px;
      border-radius: 2px;
      width: 25%;
    }
  }
}