#Header {
  text-align: left;
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  background-color: rgb(26, 26, 99);
  color: ivory;
  border-bottom: 2px white solid;
}